.container {
  margin-top: 2em;
  margin-bottom: 4em;
  min-height: 14rem;
}

.align-center {
  align-items: center;
}

.header {
  background-color: #007bff;
  border-bottom: 4px solid #1151fb;
  color: white;
}
nav {
  padding: .5em 4em !important;
}
nav > a {
  font-size: 1.7em !important;
}

#or {
  padding: 1em;
}

.center-align {
  justify-content: center;
  max-width: 750px;
  margin-left: auto !important;
  margin-right: auto !important;
}

h1 > a {
  text-decoration: none;
  color: inherit;
}
h1 > a:hover {
  text-decoration: none;
  color: inherit;
}

.blog {
  border: 2px solid rgba(0,0,0,0.25);
  border-radius: .5em;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blog > small {
 float:right;
}
table {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
